.card {
    border: none;
    min-height: 150px;
}

.card-img {
    border-radius: 0;
}

.vgr-cards {
    .card {
        padding: 5px;
        display: flex;
        flex-flow: wrap;
        flex: 100%;
        margin-bottom: 40px;
        &:nth-child(even) .card-img-body {
            order: 2;
        }
        &:nth-child(even) .card-body {
            padding-left: 0;
            padding-right: 1.25rem;
        }
        @media (max-width: 576px) {
            display: block;
        }
    }
    .card-img-body {
        flex: 1;
        overflow: hidden;
        position: relative;
        @media (max-width: 576px) {
            width: 100%;
            height: 200px;
            margin-bottom: 20px;
        }
    }
    .card-img {
        width: 100%;
        height: 100%;
        position: absolute;
        margin-left: 50%;
        transform: translateX(-50%);
        @media (max-width: 1140px) {
            margin: 0;
            transform: none;
            width: 100%;
            height: 100%;
        }
    }
    .card-body {
        flex: 2;
        padding: 0 0 0 1.25rem;
        @media (max-width: 576px) {
            padding: 0;
        }
    }
}

.card-subtitle{
    height: fit-content;
    width: 100%;
    margin-top: 22px;
}

.search-content{
    display: flex
}

.card-nav{
    width: 100%;
}

.nav-tabs{
    background: #f44336c7;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(244, 67, 54, 0.4);

}