<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info" style="text-align: center;">
                        <h5 class="title">
                            <a class="text-fiord-blue" [innerHTML]="stamp.titulo"></a>
                        </h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text d-inline-block mb-3" [innerHTML]="stamp.descripcion"></p>
                        <div style="display: block; text-align: center;">
                            <div>
                                <label>{{'Derechos.PiePagina'|translate}}</label>
                            </div>
                            <div class="pagefirm">
                                <img src="assets/img/Final.png" alt="">
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>