<div class="main-content" onmousedown='return false;' onselectstart='return false;'>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info" style="text-align: center;">
                        <h1 class="title">
                            <a class="text-fiord-blue" [innerHTML]="stamp.titulo"></a>
                        </h1>
                    </div>
                    <div class="card-body">
                        <p class="card-text d-inline-block mb-3" [innerHTML]="stamp.descripcion"></p>
                        <div style="display: block; text-align: center;">
                            <div class="container" style="display: flex; justify-content:center;">
                                                    
                                <div >  
                                    <label>{{'Derechos.PiePagina'|translate}}</label>
                                </div>
                            
                                <div class="share ">
                                    <a class="click"
                                        [href]="enviromentVariable.getFacebook(config.serverNodeLocation+'inferior-stamp/'+stamp.id)"
                                        target="_blank">
                                        <i class="fa fa-facebook-official"> {{'TextComponent.Compartir'|translate}}</i>
                                    </a>
                                </div>
                        
                        
                            </div>
                            <div class="pagefirm">
                                <img src="assets/img/Final.png" alt="">
                            </div>

                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>