::ng-deep {
    .fixed-plugin {
        position: initial;
    }

    .dropdown-menu {
        left: 40px !important;
    }

    .fixed-plugin .dropdown-menu::before {
        border-bottom: none !important;
        border-left: none !important;
        border-top: none !important;
        right: 0 !important;
    }

    .fixed-plugin .dropdown-menu:after {
        border-bottom: 16px solid rgba(0, 0, 0, 0);
        border-right: 16px solid #fff;
        border-top: 16px solid rgba(0, 0, 0, 0);
        top: 20px;
        right: 100%;
        border-left: 0;
    }

    .fixed-plugin .dropdown-menu:before {
        border-bottom: 16px solid rgba(0, 0, 0, 0);
        border-left: 16px solid #fff;
        border-top: 16px solid rgba(0, 0, 0, 0);
        right: -15px;
    }
}
