<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto hidden-md">
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/home']" [ngClass]="{'nav-item active': enviromentVariable.actualPage === 'collection'}">{{'Menu.Colecciones'|translate}}</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/samples']" [ngClass]="{'nav-item active': enviromentVariable.actualPage === 'samples'}">{{'Menu.Muestras'|translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/stamps']" [ngClass]="{'nav-item active': enviromentVariable.actualPage === 'stamps'}">{{'Menu.Estampas'|translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/postcards']" [ngClass]="{'nav-item active': enviromentVariable.actualPage === 'postcards'}">{{'Menu.Postales'|translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="openModal('custom-modal-company-description')">
                    {{'About.TITLE'|translate}}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" style="cursor: pointer;" (click)="openModal('custom-modal-contact')">
                    {{'Contact.TITLE'|translate}}
                </a>
            </li>
        </ul>
        <div class="fixed-plugin show-md">
            <div class="dropdown show-dropdown open show">
                <a (click)="toogleButton = !toogleButton" data-toggle="dropdown" aria-expanded="true">

                    <i [style.color]="{'red': toogleButton=== true}" style="font-size: 38px;" _ngcontent-gxn-c65=""
                        class="material-icons">{{toogleButton ? 'toggle_on':'toggle_off'}}</i>
                    <span style="vertical-align: middle; margin-left: 10px;">{{'Menu.Menu'|translate}}</span>
                </a>

            </div>
            
            <ul *ngIf="toogleButton" class="dropdown-menu show" x-placement="bottom-start" style="display: grid;">
                <li class="header-title" style="justify-content: center;"> {{'Menu.MenuPagina'|translate}}</li>
                <li>
                    <span class="badge filter badge-azure" data-color="azure"></span>
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">{{'Menu.Colecciones'|translate}} <span
                            class="sr-only">(current)</span></a>
                </li>
                <li>
                    <span class="badge filter badge-purple" data-color="purple"></span>
                    <a class="nav-link" [routerLink]="['/samples']">{{'Menu.Muestras'|translate}}</a>
                </li>
                <li>
                    <span class="badge filter badge-azure" data-color="azure"></span>
                    <a class="nav-link" [routerLink]="['/stamps']">{{'Menu.Estampas'|translate}}</a>
                </li>
                <li>
                    <span class="badge filter badge-green" data-color="green"></span>
                    <a class="nav-link" [routerLink]="['/postcards']">{{'Menu.Postales'|translate}}</a>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <div class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" [(ngModel)]="query" class="form-control"
                        placeholder="{{'Search.Placeholder'|translate}}">
                    <a mat-raised-button target="_blank" [routerLink]="['/search',query]" routerLinkActive="router-link-active"  class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </a>
                </div>
            </div>

        </div>
        
        <div class="language">
            <img lang="es" (click)="change('es')" src="../assets/img/espana.png" style="margin-left: 5px;">
            <img lang="en" (click)="change('en')" src="../assets/img/bandera.png" style="margin-left: 5px;">
            
        </div>
        
        <div class="navbar-form show-md search-icon">
            <div class="input-group no-border">
                <a mat-raised-button target="_blank" [routerLink]="['/search']" routerLinkActive="router-link-active"  class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </a>
            </div>
        </div>
    </div>
</nav>

<jw-modal id="custom-modal-contact" style="padding: 0;">
    <div class="container-fluid center" style="padding: 0;">
        <div class="row" style="justify-content: center;">
            <button class="btn btn-white btn-round btn-just-icon" (click)="closeModal('custom-modal-contact');">
                <i class="material-icons">close</i>
            </button>
            <div class="card" style="width: auto;">
                <div class="card-header card-header-info">
                    {{'Contact.TITLE'|translate}}
                </div>
                <div class="card-body">
                    <section class="mb-4">
                        <!--Section description-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-9 mb-md-0 mb-5">
                                <div id="contact-form" name="contact-form" action="mail.php" method="POST">

                                    <!--Grid row-->
                                    <div class="row">

                                        <!--Grid column-->
                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                <input type="text" [(ngModel)]="mail.name" id="name" name="name"
                                                    class="form-control">
                                                <label for="name" class=""> {{'Contact.NAME'|translate}}</label>
                                            </div>
                                        </div>
                                        <!--Grid column-->

                                        <!--Grid column-->
                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                <input type="text" [(ngModel)]="mail.from" id="email" name="email"
                                                    class="form-control">
                                                <label for="email" class="">{{'Contact.EMAIL'|translate}}</label>
                                            </div>
                                        </div>
                                        <!--Grid column-->

                                    </div>
                                    <!--Grid row-->

                                    <!--Grid row-->
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="md-form mb-0">
                                                <input type="text" [(ngModel)]="mail.subject" id="subject"
                                                    name="subject" class="form-control">
                                                <label for="subject" class="">{{'Contact.SUBJECT'|translate}}</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Grid row-->

                                    <!--Grid row-->
                                    <div class="row">

                                        <!--Grid column-->
                                        <div class="col-md-12">

                                            <div class="md-form">
                                                <textarea type="text" [(ngModel)]="mail.text" id="message"
                                                    name="message" rows="2" class="form-control md-textarea"></textarea>
                                                <label for="message">{{'Contact.TEXT'|translate}}</label>
                                            </div>

                                        </div>
                                    </div>
                                    <!--Grid row-->

                                </div>

                                <div class="text-center text-md-left">
                                    <a class="btn btn-primary" (click)="send()">{{'Contact.SEND'|translate}}</a>
                                </div>
                                <div class="status"></div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-3 text-center">
                                <ul class="list-unstyled mb-0">
                                    <li><i class="fa fa-map-marker fa-2x"></i>
                                        <p>{{'Contact.Direction'|translate}}</p>
                                    </li>

                                    <li><i class="fa fa-envelope mt-4 fa-2x"></i>
                                        <p>inf@cubamuseo.com</p>
                                    </li>
                                </ul>
                            </div>
                            <!--Grid column-->

                        </div>

                    </section>
                </div>
            </div>
        </div>
    </div>
</jw-modal>

<jw-modal id="custom-modal-related-sites">
    <div class="container-fluid center">
        <div class="row" style="justify-content: center;">
            <button class="btn btn-white btn-round btn-just-icon" (click)="closeModal('custom-modal-related-sites');">
                <i class="material-icons">close</i>
            </button>
            <div class="card">
                <div class="card-header card-header-info">
                    {{'RelatedSites.TITLE'|translate}}
                </div>
                <div class="card-body" >
                    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
                        <mdb-carousel-item  *ngFor="let site of sites; let i = index" >
                          <div class="view w-100">
                            <img class="d-block w-100" src="{{config.serverNodeLocation}}images/imageInNotice/{{site.nombre}}/{{site.imagen}}" alt="First slide">
                            
                            <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
                          </div>
                          <div class="carousel-caption">
                           
                          </div>
                          <h3 class="h3-responsive" style="text-align: center;">{{site.nombre}}</h3>
                          <h5>{{'RelatedSites.URL'|translate}} <a href="{{site.url}}" style="color: #26c6da;"target="_blank" >{{site.url}}</a></h5>
                          <p class="card-text " [innerHTML]="site.descripcion"></p>
                        </mdb-carousel-item>
                      </mdb-carousel>

                    <!-- <mat-tab-group class="main-tab-group mt-2">
                        <mat-tab *ngFor="let site of sites; let i = index">
                            <ng-template mat-tab-label>{{site.nombre}}
                            </ng-template>
                            <div class="content">
                                <div class="card-img-body" style="margin-top: 10px;">
                                    <img class="card-img"
                                        src="{{config.serverNodeLocation}}images/imageInSites/{{site.nombre}}/{{site.imagen}}"
                                        alt="Card image cap">
                                </div>
                                <div class="card-body">
                                    <h6>
                                        <a class="card-title" href="{{site.url}}" [innerHTML]="site.nombre"
                                            [title]="'RelatedSites.GO_SITE'|translate"></a>
                                    </h6>
                                    <p class="card-text " [innerHTML]="site.descripcion">
                                    </p>
                                </div>
                            </div>
                        </mat-tab>
                    </mat-tab-group> -->

                </div>
            </div>
        </div>
    </div>
</jw-modal>

<jw-modal id="custom-modal-company-description">
    <div class="container-fluid center">
        <div class="row" style="justify-content: center;">
            <button class="btn btn-white btn-round btn-just-icon"
                (click)="closeModal('custom-modal-company-description');">
                <i class="material-icons">close</i>
            </button>
            <div class="card">
                <div class="card-header card-header-info">
                    {{'About.TITLE'|translate}}
                </div>
                <div class="card-body" style="width: auto;">
                    <p [innerHTML]="'About.TEXT'|translate">

                    </p>
                </div>
            </div>
        </div>
    </div>
</jw-modal>