<nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute fixed-top">
    <div class="container-fluid">
        <ul class="navbar-nav mr-auto hidden-md">
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/home']" [ngClass]="{'nav-item active': enviromentVariable.actualPage === 'collection'}">{{'Menu.Colecciones'|translate}}</a>
            </li>
            <li class="nav-item" >
                <a class="nav-link" [routerLink]="['/samples']" [ngClass]="{'nav-item active': enviromentVariable.actualPage === 'samples'}">{{'Menu.Muestras'|translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/stamps']" [ngClass]="{'nav-item active': enviromentVariable.actualPage === 'stamps'}">{{'Menu.Estampas'|translate}}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/postcards']" [ngClass]="{'nav-item active': enviromentVariable.actualPage === 'postcards'}">{{'Menu.Postales'|translate}}</a>
            </li>
        </ul>
        <div class="fixed-plugin show-md">
            <div class="dropdown show-dropdown open show">
                <a (click)="toogleButton = !toogleButton" data-toggle="dropdown" aria-expanded="true">

                    <i [style.color]="{'red': toogleButton=== true}" style="font-size: 38px;" _ngcontent-gxn-c65=""
                        class="material-icons">{{toogleButton ? 'toggle_on':'toggle_off'}}</i>
                    <span style="vertical-align: middle; margin-left: 10px;">{{'Menu.Menu'|translate}}</span>
                </a>

            </div>
            
            <ul *ngIf="toogleButton" class="dropdown-menu show" x-placement="bottom-start" style="display: grid;">
                <li class="header-title" style="justify-content: center;"> {{'Menu.MenuPagina'|translate}}</li>
                <li>
                    <span class="badge filter badge-azure" data-color="azure"></span>
                    <a class="nav-link" [routerLink]="['/home']" routerLinkActive="router-link-active">{{'Menu.Colecciones'|translate}} <span
                            class="sr-only">(current)</span></a>
                </li>
                <li>
                    <span class="badge filter badge-purple" data-color="purple"></span>
                    <a class="nav-link" [routerLink]="['/samples']">{{'Menu.Muestras'|translate}}</a>
                </li>
                <li>
                    <span class="badge filter badge-azure" data-color="azure"></span>
                    <a class="nav-link" [routerLink]="['/stamps']">{{'Menu.Estampas'|translate}}</a>
                </li>
                <li>
                    <span class="badge filter badge-green" data-color="green"></span>
                    <a class="nav-link" [routerLink]="['/postcards']">{{'Menu.Postales'|translate}}</a>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <div class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" [(ngModel)]="query" class="form-control"
                        placeholder="{{'Search.Placeholder'|translate}}">
                    <a mat-raised-button target="_blank" [routerLink]="['/search',query]" routerLinkActive="router-link-active"  class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </a>
                </div>
            </div>

        </div>
        
        <div class="language">
            <img lang="es" (click)="change('es')" src="../assets/img/espana.png" style="margin-left: 5px;">
            <img lang="en" (click)="change('en')" src="../assets/img/bandera.png" style="margin-left: 5px;">
            
        </div>
        
        <div class="navbar-form show-md search-icon">
            <div class="input-group no-border">
                <a mat-raised-button target="_blank" [routerLink]="['/search']" routerLinkActive="router-link-active"  class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                </a>
            </div>
        </div>
    </div>
</nav>
