
<div class="main-content">
    <div class="container-fluid">
        <div class="row" *ngIf="homeData.imagen">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-image">
                        <img src="{{config.serverNodeLocation}}images/imageForText/{{homeData.imagen}}" alt="">
                    </div>
                    <div class="card-body">
                        <h5 class="title col text-center">
                            <a class="text-fiord-blue" href="#" >{{homeData.titulo}}</a>
                        </h5>
                        <p class="card-text d-inline-block mb-3" [innerHTML]="homeData.descripcion"></p>
                        <div class="col-md-6" *ngFor="let tales of allTales">
                            <a style="color: black;" class="nav-link"   [innerHTML]="tales.nombre" 
                                [routerLink]="['/inferior-stamp',tales.idEstampa]">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>