<div class="main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card" *ngIf="collection.carpeta">
                    <div class="card-header card-header-image">
                        <img *ngIf="prevSection"
                            src="{{config.serverNodeLocation}}images/2/{{collection.carpeta}}/{{collection.imagen}}/collection/{{getSection()}}"
                            alt="{{collection.carpeta}}">
                    </div>
                    <div class="card-body">
                        <h1 class="title">
                            <a class="text-fiord-blue" href="#" [innerHTML]="collection.titulo"></a>
                        </h1>
                        <section id="tabs" class="project-tab">
                            <div class="container">
                                <div id='cont' class="row">
                                    <div class="col-md-12">
                                        <nav>
                                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist"
                                                style="max-width: 350px;width: max-content;padding: 0;">
                                                <a style="font-size: 15px;" class="nav-item nav-link " [ngClass]="{'active': !galleryActive}"
                                                    id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                                                    aria-controls="nav-home"
                                                    aria-selected="true">{{'TextComponent.Texto'|translate}}</a>
                                                <a style="font-size: 15px;" class="nav-item nav-link" [ngClass]="{'active': galleryActive}"
                                                    id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
                                                    role="tab" aria-controls="nav-profile"
                                                    aria-selected="false">{{'TextComponent.InferiorGallery'|translate}}</a>
                                            </div>
                                        </nav>

                                        <div class="tab-content" id="nav-tabContent">
                                            <div class="tab-pane fade" [ngClass]="{'show active': !galleryActive}" id="nav-home" role="tabpanel"
                                                aria-labelledby="nav-home-tab">

                                                <p class="card-text d-inline-block mb-3"
                                                    [innerHTML]="collection.descripcion"></p>
                                                <div style="display: block; text-align: center;">
                                                    <div class="container" style="display: flex; justify-content:center;">
                                                    
                                                        <div >  
                                                            <label>{{'Derechos.PiePagina'|translate}}</label>
                                                        </div>
                                                    
                                                        <div class="share">
                                                            <a class="click"
                                                                [href]="enviromentVariable.getFacebook(config.serverNodeLocation+'inferior-collection/'+collection.id)"
                                                                target="_blank">
                                                                <i class="fa fa-facebook-oficial" >{{'TextComponent.Compartir'|translate}}</i>
                                                            </a>
                                                        </div>
                                                
                                                
                                                    </div>
                                                    <div class="pagefirm">
                                                        <img src="assets/img/Final.png" alt="">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="tab-pane fade" [ngClass]="{'show active': galleryActive}" id="nav-profile" role="tabpanel"
                                                aria-labelledby="nav-profile-tab">
                                                <div class="container" style="margin-top: 22px;">
                                                    <div *ngIf="collection.carpeta && collection.cantImges != 0"
                                                        class="row text-center justify-content-center"
                                                        style="align-items: flex-end;">

                                                        <div id="item" class=" col-lg-2 col-md-4 col-6"
                                                            [ngStyle]="{'max-width': 100/collection.cantImages+'%'}"
                                                            *ngFor="let item of gallery">
                                                            <a class=" tooltiptext d-block mb-2 h-100"
                                                                style="text-align: center;"
                                                                (click)="openModal('custom-modal-1', item)">
                                                                <img *ngIf="prevSection" class="img-fluid img-thumbnail"
                                                                    style=" cursor: pointer;"
                                                                    [ngStyle]="{'max-height': getHeigth()+'px'}"
                                                                    src="{{config.serverNodeLocation}}images/2/{{collection.carpeta}}/{{item.imagen}}/collection/{{getSection()}}"
                                                                    alt="">
                                                                <p [innerHTML]="item.titulo"></p>
                                                            </a>
                                                            <p [innerHTML]="item.imagen.replace('.jpg', '')"
                                                                style="font-size: smaller; text-align: center;"></p>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- /.container -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<jw-modal id="custom-modal-1" >
    <div class="main-content">
        <div class="container-fluid center">
            <div class="row">

                <div class="col-md-12">

                    <div class="card" style="max-width: 630px;padding: 50px; margin-top: 0;"
                        *ngIf="collection.carpeta && actualItem.titulo">
                        <button style="position: absolute; right: 3px; top: 0;z-index: 5;"
                            class="btn btn-white btn-round btn-just-icon" (click)="closeModal('custom-modal-1');">
                            <i class="material-icons">close</i>
                        </button>

                        <div *ngIf="isHideTitle || !checkLenghtTitle(actualItem.titulo)" class="card-title"
                            style="font-weight: 800; height: 80px;"
                            [innerHTML]="actualItem.imagen.replace('.jpg','')+' | '+ actualItem.titulo">
                        </div>
                        <div class="card-title" style="font-weight: 800;"
                            *ngIf="!isHideTitle && checkLenghtTitle(actualItem.titulo)"
                            [innerHTML]="actualItem.imagen.replace('.jpg','')+' | '+ sliceTitle(actualItem.titulo)">

                        </div>
                        <div style="text-align: right; position: absolute;top: 90px;right: 25px;"
                            *ngIf="checkLenghtTitle(actualItem.titulo)">
                            <button *ngIf="!isHideTitle" class="more_text" (click)="see_moreTitle()"
                                style="  font-size: .9em; color:#5c84b5; background-color: transparent; border-style: hidden;">
                                ({{'GalleryComponent.SeeMore'|translate}})
                            </button>
                            <button *ngIf="isHideTitle" class="more_text" (click)="see_moreTitle()"
                                style="font-size: .9em; color:#5c84b5; background-color: transparent; border-style: hidden;">
                                ({{'GalleryComponent.SeeLess'|translate}})
                            </button>
                        </div>


                        <div class="card-header card-header-image zoom-exterior">
                            <a class="carousel-control-prev" (click)="prev()" role="button" data-slide="prev"
                                style="left: -12%; z-index: 4;  color: rgba(0, 0, 0, 0.733);"
                                [title]="'GalleryComponent.Anterior'|translate">
                                <i class="material-icons"
                                    style="font-size: 50px; margin-right: auto;">keyboard_arrow_left</i>
                            </a>
                            <div (click)="openModal('custom-modal-zoom',actualItem)"
                                style="cursor: pointer;text-align: center; display: flex;justify-content: center;"
                                [title]="'Imagen.Zoom'|translate">
                                <img *ngIf="prevSection && actualItem.imagen != ''" class="img-fluid img-thumbnail"
                                    style="align-self: center; max-height: 100%; width: auto;"
                                    src="{{config.serverNodeLocation}}images/2/{{collection.carpeta}}/{{actualItem.imagen}}/collection/{{getSection()}}">
                            </div>

                            <a class="carousel-control-next" (click)="next()" role="button"
                                [title]="'GalleryComponent.Siguiente'|translate"
                                style="right: -12%;z-index: 4; color: rgba(0, 0, 0, 0.733);" data-slide="next">
                                <i class="material-icons"
                                    style="font-size: 50px; margin-left: auto;">keyboard_arrow_right</i>
                            </a>
                        </div>

                        <div class="card-body">
                            <div class="cui_descr_nav" *ngIf="!checkLenght(actualItem.descripcion)">
                                <p style="text-align:left; line-height:1.6em; color: black; "
                                    [innerHTML]="actualItem.descripcion">
                                </p>
                            </div>
                            <div class="cui_descr_nav" id="show_div" [class.hidden]="isHide"
                                *ngIf="checkLenght(actualItem.descripcion)">
                                <p style="text-align:left; line-height:1.6em; color: black; "
                                    [innerHTML]="sliceDescription(actualItem.descripcion)">
                                </p>
                                <button class="more_text" (click)="see_more()"
                                    style=" text-align: left; font-size: .9em; color:#5c84b5; background-color: transparent; border-style: hidden;">
                                    ({{'GalleryComponent.SeeMore'|translate}})
                                </button>
                            </div>
                            <div class="cui_descr_nav" id="hidden_div" [class.hidden]="!isHide"
                                *ngIf="checkLenght(actualItem.descripcion)">
                                <p style="text-align:left; line-height:1.6em; color: black; "
                                    [innerHTML]="actualItem.descripcion">
                                </p>
                                <button class="more_text" (click)="see_more()"
                                    style="text-align: left; font-size: .9em; color:#5c84b5; background-color: transparent; border-style: hidden;">
                                    ({{'GalleryComponent.SeeLess'|translate}})
                                </button>
                            </div>
                            <div *ngIf="!checkIfIsEmpty(actualItem.emision)">
                                <span
                                    style="text-align:left; line-height:1.6em; color: black; font-weight: bold;">{{'GalleryComponent.Emision'|translate}}:
                                </span><span style="text-align:left; line-height:1.6em; color: black;"
                                    [innerHTML]="actualItem.emision"></span>
                            </div>
                            <div *ngIf="!checkIfIsEmpty(actualItem.color)">
                                <span
                                    style="text-align:left; line-height:1.6em; color: black;font-weight: bold;">{{'GalleryComponent.Color'|translate}}:
                                </span><span style="text-align:left; line-height:1.6em; color: black;"
                                    [innerHTML]="actualItem.color"></span>
                            </div>
                            <div *ngIf="!checkIfIsEmpty(actualItem.material)">
                                <span
                                    style="text-align:left; line-height:1.6em; color: black;font-weight: bold;">{{'GalleryComponent.Material'|translate}}:</span><span
                                    style="text-align:left; line-height:1.6em; color: black;"
                                    [innerHTML]="actualItem.material"></span>
                            </div>
                            <div *ngIf="!checkIfIsEmpty(actualItem.impresion)">
                                <span
                                    style="text-align:left; line-height:1.6em; color: black;font-weight: bold;">{{'GalleryComponent.Impresion'|translate}}:
                                </span><span style="text-align:left; line-height:1.6em;  color: black;"
                                    [innerHTML]="actualItem.impresion"></span>
                            </div>
                            <div *ngIf="!checkIfIsEmpty(actualItem.dimension)">
                                <span
                                    style="text-align:left; line-height:1.6em; color: black;font-weight: bold;">{{'GalleryComponent.Dimension'|translate}}:
                                </span><span style="text-align:left; line-height:1.6em;  color: black;"
                                    [innerHTML]="actualItem.dimension"></span>
                            </div>
                            <div *ngIf="!checkIfIsEmpty(actualItem.procedencia)">
                                <span
                                    style="text-align:left; line-height:1.6em; color: black;font-weight: bold;">{{'GalleryComponent.Procedencia'|translate}}:
                                </span><span style="text-align:left; line-height:1.6em;  color: black;"
                                    [innerHTML]="actualItem.procedencia"></span>
                            </div>
                            <!-- <div *ngIf="!checkIfIsEmpty(actualItem.precio)">
                                <span
                                    style="text-align:left; line-height:1.6em; color: black;font-weight: bold; ">{{'GalleryComponent.Precio'|translate}}:
                                </span><span style="text-align:left; line-height:1.6em;  color: black;"
                                    [innerHTML]="actualItem.precio"></span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</jw-modal>

<jw-modal id="custom-modal-zoom" >
    <div class="container-fluid center" style="width: max-content;">
        <div class="row" style="justify-content: center; display: block;">

            <div class="card card-zoom-inferior" style="padding: 90px; margin-top: 0; align-items: center;"
                *ngIf="collection.carpeta && actualItem.titulo">
                <button style="position: absolute; right: 3px; top: 0; z-index: 2;"
                    class="btn btn-white btn-round btn-just-icon" (click)="closeModal('custom-modal-zoom');">
                    <i class="material-icons">close</i>
                </button>
                <div *ngIf="isHideTitle || !checkLenghtTitle(actualItem.titulo)" class="card-title"
                    style="font-weight: 800; position: absolute; top: 17px;text-align: center;"
                    [innerHTML]="actualItem.imagen.replace('.jpg','')+' | '+ actualItem.titulo">
                </div>
                <div class="card-title" style="font-weight: 800;position: absolute; top: 17px;text-align: center;"
                    *ngIf="!isHideTitle && checkLenghtTitle(actualItem.titulo)"
                    [innerHTML]="actualItem.imagen.replace('.jpg','')+' | '+ sliceTitle(actualItem.titulo)">

                </div>
                <div style="text-align: right; position: absolute;top: 90px;right: 25px;"
                    *ngIf="checkLenghtTitle(actualItem.titulo)">
                    <button *ngIf="!isHideTitle" class="more_text" (click)="see_moreTitle()"
                        style="  font-size: .9em; color:#5c84b5; background-color: transparent; border-style: hidden;">
                        ({{'GalleryComponent.SeeMore'|translate}})
                    </button>
                    <button *ngIf="isHideTitle" class="more_text" (click)="see_moreTitle()"
                        style="font-size: .9em; color:#5c84b5; background-color: transparent; border-style: hidden;">
                        ({{'GalleryComponent.SeeLess'|translate}})
                    </button>
                </div>

                <a class="carousel-control-prev" (click)="prev()" role="button" data-slide="prev"
                    style="z-index: 1;  color: rgba(0, 0, 0, 0.733);" [title]="'GalleryComponent.Anterior'|translate">
                    <i class="material-icons" style="font-size: xx-large;margin-right: auto">keyboard_arrow_left</i>
                </a>
                <div class="card-header card-header-image zoom-inferior" style="margin-top: 0;">

                    <img *ngIf="prevSection && actualItem.imagen != ''" class="img-fluid img-thumbnail"
                        src="{{config.serverNodeLocation}}images/2/{{collection.carpeta}}/{{actualItem.imagen}}/collection/{{getSection()}}"
                        alt="">

                </div>
                <a class="carousel-control-next" (click)="next()" role="button"
                    style="z-index: 1; color: rgba(0, 0, 0, 0.733);" data-slide="next"
                    [title]="'GalleryComponent.Siguiente'|translate">
                    <i class="material-icons" style="font-size: xx-large; margin-left: auto;">keyboard_arrow_right</i>
                </a>
            </div>
        </div>
    </div>


</jw-modal>