<div class="logo">
  <a href="/" class="simple-text">
    <div class="logo-img">
      <img src="/assets/img/cubamuseo2.png" />
    </div>
    Cuba Museo
  </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <!-- <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="{{'Search.Placeholder'|translate}}">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div> -->
      </span>
    </form>
  </div>
  <ul class="nav" *ngIf="enviromentVariables.actualPage == 'collection'">
    <li (click)='setBreadcrumb(section)' class="nav-item" *ngFor="let section of enviromentVariables.sections"
      [ngClass]="{'nav-item active': getSection().idSeccion === section.idSeccion}">
      <a class="nav-link" [routerLink]="[enviromentVariables.link.path,section.idSeccion]"
        (click)='setSection(section)'>
        <img 
          src="{{config.serverNodeLocation}}images/imageForCategory/{{section.imagenMenu}}/{{enviromentVariables.actualPage}}"
          alt="">
        <span [innerHTML]="section.nombre"></span>
      </a>
    </li>
  </ul>

  <ul class="nav" *ngIf="enviromentVariables.actualPage == 'samples' || enviromentVariables.actualPage == 'stamps'">
    <li  class="nav-item" *ngFor="let section of enviromentVariables.sections; index as i"
      [ngClass]="{'nav-item active': getSection().idCategoriaEstampa === section.idCategoriaEstampa}">
      
      <a class="nav-link" [routerLink]="[enviromentVariables.link.path,section.idCategoriaEstampa]"
        (click)='setSection(section)' >
        <span *ngIf="section.nombre == 'Todas las páginas de la sección'" style="color: black;text-align: center; max-width: 150px; font-weight: bold;" >{{('GalleryComponent.Title'|translate)}}</span>
        <img   (click)='setBreadcrumb(section)'
          src="{{config.serverNodeLocation}}images/imageForCategory/{{section.imagenMenu}}/{{enviromentVariables.actualPage}}"
          alt="">
        <span *ngIf="!(section.nombre == 'Todas las páginas de la sección')" [innerHTML]="section.nombre" style="text-align: center; max-width: 150px;"></span>
      </a>
      <div class="row justify-content-center">
        <span *ngIf="i == 0" style="text-align: center; text-transform: inherit; font-size: 13px; font-weight: bold; max-width: 150px;">
          {{('GalleryComponent.SubTitle'|translate)}}
        </span>
      </div>
     
    </li>
  </ul>

  <ul class="nav" *ngIf="enviromentVariables.actualPage == 'postcards'">
    <li (click)='setBreadcrumb(section)' class="nav-item" *ngFor="let section of enviromentVariables.sections"
      [ngClass]="{'nav-item active': getSection().idCategoriaPostal === section.idCategoriaPostal}">
      <a class="nav-link" [routerLink]="[enviromentVariables.link.path,section.idCategoriaPostal]"
        (click)='setSection(section)'>
        <img  
          src="{{config.serverNodeLocation}}images/imageForCategory/{{section.imagenMenu}}/{{enviromentVariables.actualPage}}"
          alt="">
        <span [innerHTML]="section.nombre"></span>
      </a>
    </li>
  </ul>

  <ul class="nav" *ngIf="enviromentVariables.actualPage == 'store'">
    <li (click)='setBreadcrumb(section)'class="nav-item" *ngFor="let section of enviromentVariables.sections"
      [ngClass]="{'nav-item active': getSection().idTematica === section.idTematica}">
      <a class="nav-link" [routerLink]="[enviromentVariables.link.path,section.idTematica]"
        (click)='setSection(section)'>
        <img  
          src="{{config.serverNodeLocation}}images/imageForCategory/{{section.imagenMenu}}/{{enviromentVariables.actualPage}}"
          alt="">
        <span [innerHTML]="section.nombre"></span>
      </a>
    </li>
  </ul>
  

</div>